main{
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.btn {
  width: fit-content;
}

.spender{
  margin: 0.5rem;
}

main h1{
  color: #004d26
}

main a:visited {
  color: #fff;
}

#link{
  display: flex;
  justify-content: center;
}